<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>
    <a>Xin chào <strong>{{name}}</strong></a>,<br /><br />
    <a>Chúng tôi đã nhận được yêu cầu cập nhật lại mật khẩu của bạn. Vui lòng nhấn vào đường link phía dưới và tiến hành
      đổi mật khẩu:</a><br /><br />
    <a href='{{url}}'>{{url}}</a><br /><br />
    <a>Xin cảm ơn.</a><br /><br />
    <a>Đội ngũ ITBEE Solutions.</a>
  </body>
</html>