<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>
    <a>Hi <strong>{{name}}</strong></a>,<br /><br />
    <a>We have received your request to update password. Please click the link below to proceed:</a><br /><br />
    <a href='{{url}}'>{{url}}</a><br /><br />
    <a>Thank you.</a><br /><br />
    <a>ITBEE Solutions Team.</a>
  </body>
</html>